body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	background: #f4f7f6;
	color: #555;
	font-size: 12px;
	font-family: "微软雅黑";
	max-width: 640px;
	margin: 0 auto;
	position: relative;
}

td,
th,
caption {
	font-size: 14px;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #555;
	text-decoration: none;
}

img {
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

html {
	overflow-y: scroll;
}
header{
	background: white;
	width: 100%;
	max-width: 640px;
}
header img{
	width: 100%;
	vertical-align: bottom;
}

footer{
	height: 54px;
	line-height: 54px;
	width: 100%;
	z-index: 9;
	text-align: center;
	font-size: 13px;
	color: #212121;
	max-width: 640px;
	color: white;
	border-bottom: 2px solid #FED771;
}
footer a{
	display: inline-block;
	color: white;
	width: 33.3%;
	height: 100%;
	float: left;
	background: #ff9c01;
	font-size: 15px;
	box-sizing: border-box;
}
footer a img{
	width: 25px;
	    vertical-align: sub;
    margin-right: 5px;
}
section{
	max-width: 640px;
}
#shadow{
	position: fixed;
	z-index: 10;
	height: 100%;
	width: 100%;
	top: 0;
	right: -100%;
	background: rgba(0,0,0,0.5);
	max-width: 640px;
}
aside{
	position: fixed;
	right: 0;
	top: 45%;
	max-width: 640px;
}
aside a{
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: rgba(0,0,0,.7);
	text-align: center;
	color: white;
	font-size: 12px;
	margin-bottom: 10px;
}
aside img{
	width: 20px;
	margin-top: 9px;
}
#shadowbox{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 11;
	top: 0;
	left: 0;
	background: #7f7f7f;
	max-width: 640px;
}
#shadowbox2{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 11;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	max-width: 640px;
}
footer .on{
	background: #D80D18;
}
.pop1{
	display: none;
	position: absolute;
	background: white;
	width: 270px;
	height: 170px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}
.pop1 p {
	color: #ffb901;
	font-size: 24px;
	margin-top: 45px;
}
.pop1 span{
	font-size: 13px;
    color: #666;
    display: inline-block;
    width: 80%;
    text-align: left;
    margin-top: 10px;
}
.pop1 p img{
	width: 37.5px;
	margin-right: 7px;
	    vertical-align: middle;
    margin-top: -7px;
}
.pop1 a{
	display: inline-block;
	width: 110px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #D80D18;
	color: #D80D18;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 25px;
}
.pop1 .close{
	position: absolute;
	top: -35px;
    right: -37px;
    width: 36px;
}
.pop5 .close{
	position: absolute;
	top: -35px;
    right: -37px;
    width: 36px;
}
.pop2{
	display: none;
	position: absolute;
	background: white;
	width: 270px;
	height: 170px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	color: #767676;
	font-size: 24px;
}
.pop2 .close{
	position: absolute;
	top: -35px;
    right: -37px;
    width: 36px;
}
.pop2 p:first-child{
	margin-top: 55px;
}
.pop3{
	display: none;
	position: absolute;
	background: white;
	width: 270px;
	height: 170px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	color: #767676;
	font-size: 24px;
}
.pop3 .close{
	position: absolute;
	top: -35px;
    right: -37px;
    width: 36px;
}
.pop3 p{
	font-size: 15px;
    color: #666666;
    width: 84%;
    text-align: left;
    margin: 45px auto 25px auto;
}
.pop3 a{
	height: 33px;
	line-height: 33px;
	width: 40%;
	font-size: 12px;
	display: inline-block;
	border-radius: 4px;
}
.pop3 .review{
	color: #D80D18;
	background: #f8e9c0;
	border: 1px solid #D80D18;
	    margin-right: 10px;
}
.pop3 .rightnow{
	color: white;
	background: #D80D18;
}
.pop4{
	display: none;
	position: absolute;
	background: white;
	width: 270px;
	height: 170px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}
.pop4 p {
	color: #767676;
	font-size: 24px;
	margin-top: 45px;
}
.pop4 .close{
	position: absolute;
	top: -35px;
    right: -37px;
    width: 36px;
}
.pop4 p img{
	width: 37.5px;
	margin-right: 7px;
	    vertical-align: middle;
    margin-top: -7px;
}
.pop4 span{
	font-size: 18px;
	margin-top: 20px;
	display:inline-block;
}
.pop5{
	display: none;
	position: absolute;
	background: white;
	width: 270px;
	height:250px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

.pop5 input{
    width: 80%;
    line-height: 35px;
    outline: none;
    border: 1px solid #b7b4b4;
    text-indent: 10px;
    color: #666;
    box-sizing: border-box;
}
.pop5 .phone{
	margin-top: 88px;
	 border-radius: 5px;
}  
.pop5 .code{
	margin-top: 10px;
	width: 45%;
	line-height: 34px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pop5 .submit{
 	background: #D80D18;
 	color: white;
 	border: none;
 	 border-radius: 5px;
 	 margin-top: 15px;
 }
.pop5 .sendcode{
	display: inline-block;
	line-height: 36px;
	width: 35%;
	background: #bababa;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.yidun--light.yidun .yidun_bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.drag_embed{
	width: 100%;
}
.yidun--light.yidun {
    position: relative;
    margin: auto;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
}
.yidun--light.yidun .yidun_bgimg .bg-img {
    vertical-align: top;
    width: 100%;
    border-radius: 2px;
}
.yidun--light.yidun .yidun_jigsaw {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
}
.yidun--light.yidun .yidun_panel-placeholder {
    position: relative;
    padding-top: 50%;
}
.yidun--light.yidun .yidun_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    cursor: pointer;
    transition: background .2s linear;
}
.yidun--light.yidun .yidun_slider .slider__icon {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    width: 14px;
    height: 10px;
    background-image: url(http://cstaticdun.126.net/2.3.2/images/icon_light.f13cff3.png);
    background-position: 0 -26px;
    background-size: 34px 471px;
}
.yidun--light.yidun .yidun_tips {
    text-align: center;
    color: #45494c;
    line-height: 40px;
    font-size: 12px;
}
.yidun--light.yidun .yidun_control {
    position: relative;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #e4e7eb;
    background-color: #f7f9fa;
    margin-top: 10px;
}
.j-captcha{
	width: 80%;
    position: absolute;
    top: -88px;
    left: 10%;
}
#dowebok img{
	width: 100%;
	vertical-align: bottom;
}
